<?xml version="1.0" encoding="UTF-8"?>
<configuration>
<system.webServer>
    <rewrite>
      <rules>
        <rule name="Reverse Proxy to api" stopProcessing="true">
            <match url="^api/(.*)" />
            <action type="Rewrite" url="http://posgradospanamericana.up.edu.mx:3000/api/{R:1}" />
        </rule>
        <rule name="Reverse Proxy to api oauth" stopProcessing="true">
            <match url="^o/(.*)" />
            <action type="Redirect" url="https://accounts.google.com/o/{R:1}" />
        </rule>
        <rule name="Reverse Proxy to api oauth v3" stopProcessing="true">
            <match url="^v3/(.*)" />
            <action type="Redirect" url="https://accounts.google.com/v3/{R:1}" />
        </rule>
        <rule name="ReactRouter Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_URI}" pattern="^/image/.*$" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="index.html" />
        </rule>
      </rules>
    </rewrite>
</system.webServer>
</configuration>